In [2]:
def kuchbhi():
    a = 10
    b = 20
    c = a + b
    print(f'The sum of a and b is {c}')

kuchbhi()

The sum of a and b is 30

In [12]:
name = "Aman"
city = 'London'
#type check
type(name)

str

In [6]:
a = 10
b = 20
# update
a = 11
b = a + b
print(a)
print(b)

11
31

In [7]:
# operators
print(a + b)
print(a - b)
print(a / b) # float division
print(a * b)
print(a ** b) # exponentiation
print(a // b) #integer division
print(a % b)  #modulo(remainder)

42
-20
0.3548387096774194
341
191943424957750480504146841291811
0
11

In [8]:
x = 5
print(x)
x += 10
print(x)

5
15

In [ ]:
# comparison operators
print(x > 10) #gt
print(x < 10)
print(x <= 10)
print(x >= 10) #gte
print(x == 10)  #equality

In [9]:
# logical operators (and, or, not)

print(x>10 and x<20)
print(x<10 and x<20)
print(x<10 or x<20)
print(not a > b)

True
False
True
True

In [25]:
#membership operators (in, not in)
fruits =['apple','banana', 'cherry']
print(fruits)
print('apple' in fruits)
print('banana' in fruits)
print('cherry' in fruits)
print('cherry' in fruits and 'mango' not in fruits)

['apple', 'banana', 'cherry']
True
True
True
True

In [1]:
a = 10
if a>5:
    print("a is greater than 5")

a is greater than 5

In [3]:
if a > 16:
    print("a is greater than 15")
else:
    print("a is smaller than 15")

a is smaller than 15

In [7]:
a, b, c = 10, 50, 30
if a > b and a > c:
    print("a is the greatest")
elif b > a and b > c:
     print("b is the greatest")
else: 
    print("c is the greatest")

b is the greatest

In [9]:
numbers =[1, 2, 3, 4, 5]
for n in numbers:
      print(f"{n}")

1
2
3
4
5

In [12]:
fruits = ['mango', 'apple', '','grapes', '','pineapple','watermelon']
for fruit in fruits:
    if len(fruit) == 0:
        continue       #skip
    print(fruit)

mango
apple
grapes
pineapple
watermelon

In [16]:
number = 237409028
total = 0
while number > 0:
     total += number % 10
     number //= 10 
print(total)

35

In [23]:
movies = ["leo", "salar","kalki","bahubali","bahubali2"]
x =[1,3,3,2,4]
nested_list =[[1,3,2,4,],[5,4,6,7]]
for movie in movies:  
   print(movies)

['leo', 'salar', 'kalki', 'bahubali', 'bahubali2']
['leo', 'salar', 'kalki', 'bahubali', 'bahubali2']
['leo', 'salar', 'kalki', 'bahubali', 'bahubali2']
['leo', 'salar', 'kalki', 'bahubali', 'bahubali2']
['leo', 'salar', 'kalki', 'bahubali', 'bahubali2']

In [21]:
movies.append('dhoom')
movies.append('gadar')
movies.append('tere naam')
for movie in movies:
    print(movie)

leo
salar
kalki
bahubali
bahubali2
dhoom
gadar
tere naam

In [22]:
movies.remove('gadar')
movies.remove('bahubali')
for movie in movies:
    print(movie)

leo
salar
kalki
bahubali2
dhoom
tere naam

# Dictionary

In [1]:
kharche = {
    'sabzi': 250,
    'dawai': 1000,
    'phal' : 100,
    'recharge': 800,
}
#traversal(loop)
for k,v in kharche.items():
    print(f"{k} ka kharcha {v} rupay")

sabzi ka kharcha 250 rupay
dawai ka kharcha 1000 rupay
phal ka kharcha 100 rupay
recharge ka kharcha 800 rupay

# Function

import math
h =math.sqrt()

In [3]:
import math
p,b = 12 ,13
h = math.sqrt(p**2 + b**2)
print(h)
p,b = 3,4
h = math.sqrt(p**2 + b**2)
print(h)
p,b = 5,15
h = math.sqrt(p**2 + b**2)
print(h)
p,b = 6,19
h = math.sqrt(p**2 + b**2)
print(h)

17.69180601295413
5.0
15.811388300841896
19.924858845171276

In [6]:
#defina
def hyp(p,b):
    ans = math.sqrt(p**2 + b**2)
    return ans

In [12]:
#calling (usage)
print(hyp(3,4))
print(hyp(13,12))
print(hyp(32,41))
print(hyp(15,14))

5.0
17.69180601295413
52.009614495783374
20.518284528683193

In [10]:
def abbr_generator(data):
    words = data.split(',')
    print(words)
    abbreviations = []
    for word in words:
        print(word)
        clean_word = word.strip()
        abbr = ''
        for item in clean_word.split():
            print(item)
            abbr += item[0].upper()
            print(abbr)
        abbreviations.append(abbr)
    return abbreviations

In [11]:
abbr_generator('Alex newman, Bruce Wayne,Samuel Jackson,Robert Doweny Jr')

['AN', 'BW', 'SJ', 'RDJ']

In [13]:
def word_count(sentence):
    words = sentence.split()
    size = len(words)
    return size

In [15]:
word_count("I want to play")

4

In [16]:
word_count("to learn coding, first you have to learn to look at the screen")

13

# Class and Object