In [3]:
def kuchbhi():
    a = 10
    b = 20
    c = a + b
    print(f'The sum of a and b is {c}')

kuchbhi()

The sum of a and b is 30

In [12]:
name = "Aman"
city = 'London'
#type check
type(name)

str

In [6]:
a = 10
b = 20
# update
a = 11
b = a + b
print(a)
print(b)

11
31

In [7]:
# operators
print(a + b)
print(a - b)
print(a / b) # float division
print(a * b)
print(a ** b) # exponentiation
print(a // b) #integer division
print(a % b)  #modulo(remainder)

42
-20
0.3548387096774194
341
191943424957750480504146841291811
0
11

In [8]:
x = 5
print(x)
x += 10
print(x)

5
15

In [ ]:
# comparison operators
print(x > 10) #gt
print(x < 10)
print(x <= 10)
print(x >= 10) #gte
print(x == 10)  #equality

In [9]:
# logical operators (and, or, not)

print(x>10 and x<20)
print(x<10 and x<20)
print(x<10 or x<20)
print(not a > b)

True
False
True
True

In [11]:
#membership operators (in, not in)
fruits =['apple','banana', 'cherry']
print(fruits)
print('apple' in fruits)
print('banana' in fruits)
print('cherry' in fruits)
print('cherry' in fruits and 'mango' not in fruits)

['apple', 'banana', 'cherry']
True
True
True
True

In [1]:
a = 10
if a>5:
    print("a is greater than 5")

a is greater than 5

In [3]:
if a > 16:
    print("a is greater than 15")
else:
    print("a is smaller than 15")

a is smaller than 15

In [7]:
a, b, c = 10, 50, 30
if a > b and a > c:
    print("a is the greatest")
elif b > a and b > c:
     print("b is the greatest")
else: 
    print("c is the greatest")

b is the greatest

In [9]:
numbers =[1, 2, 3, 4, 5]
for n in numbers:
      print(f"{n}")

1
2
3
4
5

In [12]:
fruits = ['mango', 'apple', '','grapes', '','pineapple','watermelon']
for fruit in fruits:
    if len(fruit) == 0:
        continue       #skip
    print(fruit)

mango
apple
grapes
pineapple
watermelon

In [16]:
number = 237409028
total = 0
while number > 0:
     total += number % 10
     number //= 10 
print(total)

35

In [20]:
movies = ["leo", "salar","kalki","bahubali","bahubali2"]
x =[1,3,3,2,4]
nested_list =[[1,3,2,4,],[5,4,6,7]]
for movie in movies:  
   print(movies)

['leo', 'salar', 'kalki', 'bahubali', 'bahubali2']
['leo', 'salar', 'kalki', 'bahubali', 'bahubali2']
['leo', 'salar', 'kalki', 'bahubali', 'bahubali2']
['leo', 'salar', 'kalki', 'bahubali', 'bahubali2']
['leo', 'salar', 'kalki', 'bahubali', 'bahubali2']

In [21]:
movies.append('dhoom')
movies.append('gadar')
movies.append('tere naam')
for movie in movies:
    print(movie)

leo
salar
kalki
bahubali
bahubali2
dhoom
gadar
tere naam

In [22]:
movies.remove('gadar')
movies.remove('bahubali')
for movie in movies:
    print(movie)

leo
salar
kalki
bahubali2
dhoom
tere naam